<html>
  <head>
    {% if title %}
    <title>{{title}} - Sygma_System</title>
    {% else %}
    <title>Sygma_System</title>
    {% endif %}
    <style type="text/css">
<!--
#Layer1 {
	position:absolute;
	width:225;
	height:52px;
	z-index:1;
	left: 333px;
	top: 86px;
}

#Layer2 {
	position:absolute;
	width:225;
	height:52px;
	z-index:1;
	left: 333px;
	top: 146px;
}
#Layer3 {
	position:absolute;
	width:225;
	height:52px;
	z-index:1;
	left: 333px;
	top: 206px;
}
#Layer4 {
	position:absolute;
	width:225;
	height:52px;
	z-index:1;
	left: 333px;
	top: 266px;
}
-->

</style>
    <link href="{{ url_for('static', filename = 'bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename = 'bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">
	<script type="text/javascript">
		function cerrar() {
			$(".modal").hide();
		}
	</script>
	<script src="{{ url_for('static', filename = 'jquery-1.9.0.min.js') }}"></script>
	<script src="{{ url_for('static', filename = 'bootstrap/js/bootstrap.min.js') }}"></script>
	<script type="text/javascript">
<!--
function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>
  </head>
  <body onload="MM_preloadImages('crear-rol-2.jpg','mod-rol-2.jpg','listar-rol-2.jpg','elim-rol-2.jpg')">
    <div class="navbar navbar-fixed-top">
	    <div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
		        	<span class="icon-bar"></span>
		      	</a>
			    {% if g.user.is_authenticated() %}
			    	<a class="brand" href="{{ url_for('index') }}">Sygma System</a>
			    	<div class="nav-collapse">
				    	<ul class="nav">
							<li><a href="/login">Principal</a></li>
							<li><a href="{{ url_for('admin') }}">Administracion General</a></li>
							<li><a href="{{ url_for('logout') }}">Finalizar sesión</a></li>
				        </ul>
			        </div>
			    {% endif %}
			    {% if not g.user.is_authenticated() %}
			    	<a class="brand" href="{{ url_for('login') }}">Sygma System</a>
			    	<div class="nav-collapse">
				    	<ul class="nav">
							<li><a href="{{ url_for('login') }}">Login</a></li>
						</ul>
			        </div>
			    {% endif %}
			</div>
	    </div>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <div class="modal">
			<div class="modal-header">
        		<a class="close" data-dismiss="modal">&times;</a>
        		<h3>Mensaje</h3>
      		</div>
      		<div class="modal-body">
   				{{ message }}
      		</div>
	      	<div class="modal-footer">
	        	<a href="#" class="btn btn-danger" data-dismiss="modal" onClick="cerrar();">Cerrar</a>
	      	</div>				
		</div>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>