<html>
  <head>
    {% if title %}
    <title>{{title}} - Sygma_System</title>
    {% else %}
    <title>Sygma_System</title>
    {% endif %}
  </head>
  <body>
    <div align=center>Sygma_System: <a href="/login">Iniciar Sesion</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>