<html>
  <head>
    {% if title %}
    <title>{{title}} - Sygma_System</title>
    {% else %}
    <title>Sygma_System</title>
    {% endif %}
  </head>
  <body>
    <div align=center>Sygma_System: 
    {% if g.user.is_authenticated() %}
    	  <a href="/login">Principal</a>
    	| <a href="{{ url_for('admin') }}">Administracion General</a>
        | <a href="{{ url_for('logout') }}">Finalizar sesión</a>
    {% endif %}
    {% if not g.user.is_authenticated() %}
        | <a href="{{ url_for('login') }}">Login</a>
    {% endif %}
    
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>