{% extends "base.html" %}
{% block content %}
	<form method="post">
	    {{ form.hidden_tag() }}
	    <p>{{ form.uno }} Uno</p>
	    <p><input type="checkbox" name="u1" value="Uno1" checked>Uno1</p>
	    <p><input type="checkbox" name="u2" value="Uno2">Uno2</p>
	    <p><input type="checkbox" name="u3" value="Uno3">Uno2</p>
	    <p><input type="checkbox" name="u4" value="Uno4">Uno2</p>
	    <p><input type="checkbox" name="u5" value="Uno5">Uno2</p>
	    <p><input type="checkbox" name="u6" value="Uno6">Uno2</p>
	    <p><input type="checkbox" name="u7" value="Uno7" checked>Uno2</p>
	    <p><input type="checkbox" name="u8" value="Uno8" checked>Uno2</p>
	    <p><input type="checkbox" name="u9" value="Uno9" checked>Uno2</p>
	    <p><input type="checkbox" name="u10" value="Uno10" checked>Uno2</p>
	    <p><input type="checkbox" name="u11" value="Uno11" checked>Uno2</p>
	    <p><input type="checkbox" name="u12" value="Uno12" checked>Uno2</p>
	    <p><input type="checkbox" name="u13" value="Uno13" >Uno2</p>
	    <p><input type="checkbox" name="u14" value="Uno14" >Uno2</p>
	    <p><input type="checkbox" name="u15" value="Uno15" >Uno2</p>
	    <p><input type="checkbox" name="u16" value="Uno16" >Uno2</p>
	    <p><input type="checkbox" name="u17" value="Uno17" checked>Uno2</p>
	    <p><input type="checkbox" name="u18" value="Uno18" checked>Uno2</p>
	    <p><input type="checkbox" name="u19" value="Uno19" checked>Uno2</p>
	    <input type="submit">
	</form>
{% endblock %}