{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
	{% if permisos != None %}
		$(window).load(function() {
			$("#modalADP").modal("show");	
		});
	{% endif%}
	function ocultarModal() {
		$("#modalCR").hide();
		$("#formulario-carga")[0].reset();
	}
	function ocultarModal2() {
		$("#modalADP").hide();
		$("#formulario-carga2")[0].reset();
	}
	function modificar(id, nombre, descripcion){
		/*función para modificar los datos del proyecto**/
		$("#formulario-carga").attr('action','{{ url_for('modificarRol') }}');
		$("#formulario-carga").append('<input type="hidden" value='+id+' name="idRol">');
		/*Se rellenan los campos**/
		$("#idRol").val(id);
		$("#nomRol").val(nombre);
		$("#descripcion").val(descripcion);
	}
	
	function eliminar(idr){
		/*Eliminar fase**/
		$("#botonesER").empty().append("<a href=\"/rol/eliminar/" + idr + "\" class=\"btn btn-danger\">Si</a>"
										+"<a data-dismiss=\"modal\" class=\"btn btn-secondary\">No</a>");
		$("#modalER").modal("show")
	}
	
	function mostrarModal(){
		$('#modalCR').modal('show');
	}
</script>

<!-- Bloque donde se define el formulario de busqueda -->
<div>
	<form action="{{url_for('buscarRol')}}" method="post" class="form-horizontal" id="formulario-buscar">
		<p align="right">	
			{{form2.nombreBuscado(size=20)}}<input type="submit" value="Buscar" class="btn btn-success"></input>
		</p>
	</form>
</div>

<!-- Bloque donde se define la lista de fases -->
<h1 align="center">Administrar roles</h1>
<div class="row">
	<div class="span20">
		<h2>Listado de roles</h2>
		<table class="table table-striped">
			<tr>
				<th>ID</th>
				<th>Nombre</th>
	            <th>Descripción</th>
	        </tr>
			{% for r in roles %}
	          	<tr>
	          		<td>{{r.id}}</td>
	          		<td>{{r.nombre}}</td>
		            <td>{{r.descripcion}}</td>
		            <td><a class="btn btn-danger" data-toggle="modal" onclick="eliminar('{{ r.id }}')" >Eliminar</a></td>
		            <td><a class="btn" data-toggle="modal" onclick="modificar('{{ r.id }}', '{{r.nombre}}' ,'{{r.descripcion}}');mostrarModal();" >Modificar</a></td>
		            <td><a class="btn btn-info" href = "{{ url_for('rol_proyFase', id1=idf, id2=r.id, opcion = 2) }}">Asignar/Desasignar Permisos</a></td>
	          	</tr>
          	{% else %}
	          	<tr>
	          		<td>NO HAY REGISTROS</td>
	          	</tr>
          	{% endfor %}
		</table>
	</div>
</div>

<p align="center">
	<a class="btn btn-success btn-large" data-toggle="modal" onclick="$('#formulario-carga')[0].reset();$('#formulario-carga').attr('action','{{ url_for('crearRol') }}');mostrarModal();"> Agregar Nuevo Rol</a>
</p> 

<!-- Modal para añadir o modificar un rol -->
<div class="modal hide fade" id="modalCR" style="display: none">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">&times;</a>
		<h3>Fase</h3>
	</div>
	<form action="{{ url_for('crearRol') }}" method="post" class="form-horizontal" id="formulario-carga">
		<div class="modal-body" >
			<center>
				<fieldset>
					{{form.hidden_tag()}}
		   			{% if err %}
					<div>{{error}}</div>
					{% endif %}
					<label>Nombre del rol:</label>
					{{ form.nomRol(size=64, placeholder='Nombre', id='nomRol') }}
					<label>Descripcion:</label>
					{{ form.descripcion(size=120, placeholder='Descripcion', id='descripcion') }}
				</fieldset>
			</center>
		</div>
		<div class="modal-footer">
			<a class="btn" data-dismiss="modal" onclick="ocultarModal();">Cerrar</a>
			<input type="submit" value="Guardar" class="btn btn-success"></input>
		</div>
	</form>
</div>

<!-- Modal para eliminar un rol -->
<div class="modal hide fade" id="modalER" style="display: none">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">&times</a>
		<h3>Eliminar Rol</h3>
	</div>
	<div class="modal-body">
		<p>Aquí no hay marcha atrás, está</p>
		<p>usted seguro que quiere eliminarlo?</p>
	</div>
	<div class="modal-footer" id="botonesER">
		<!-- definido en el script -->
	</div>
</div>

<!-- Modal para añadir o modificar un rol -->
<div class="modal hide fade" id="modalADP" style="display: none">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">&times;</a>
		<h3>Permisos</h3>
	</div>
	<form action="{{url_for('asignarPermisos2', idr=rol.id, idf=idf)}}" method="post" class="form-horizontal" id="formulario-carga2">
		<div class="modal-body" >
			<left>
				{{ form.hidden_tag() }}
				{% if permisos != None %}
					{% for p in permisos %}
					<input type="checkbox" id = "{{p['id']}}" name = "{{p['nom']}}"  value ="" {{p['check']}}>{{p['nombre']}}<br>
					{% endfor %}
				{% endif %}
			</left>
		</div>
		<div class="modal-footer">
			<a class="btn" data-dismiss="modal" onclick="ocultarModal2();">Cerrar</a>
			<input type="submit" value="Guardar" class="btn btn-success"></input>
		</div>
	</form>
</div>
{% endblock %}