{% extends "base.html"%}
{% block content %}
<script>
	function abrirModal(){
		$("#modalItem").modal("show")
		
	}
</script>

<div class="row">
	<div class="span12">
		<center>
			<h1> Items </h1>
			<h2>Proyecto: {{proyecto.nombre}}</h2>
			<h3>Fase: {{fase.nombre}}</h3>
		</center>
	</div>
</div>

<div class="row">
	<div class="span12">
		<table class="table table-striped" >
			<tr>
				<th>Id</th>
				<th>Descripcion</th>
				<th>Numero por fase</th>
				<th>Version</th>
				<th>Complejidad</th>
				<th>Prioridad</th>
				<th>Estado</th>
				<th>Observaciones</th>
			</tr>
			{% for i in item %}
			<tr id="hola">
				<td>{{i.id_item}}</td>
				<td>{{i.descripcion}}</td>
				<td>{{i.numero}}</td>
				<td>{{i.version}}</td>
				<td>{{i.complejidad}}</td>
				<td>{{i.prioridad}}</td>
				<td>{{i.estado}}</td>
				<td>{{i.observaciones}}</td>
				<td><a>Eliminar</a></td>
				<td><a>Modificar</a></td>
			</tr>
			{%else%}
			<tr>
				<td>NO HAY REGISTROS</td>
			</tr>
			{%endfor%}
		</table>
	</div>
	<div class="span12">
		<center>
			<a class="btn btn-info btn-large" onclick="abrirModal();">Agregar Item a la fase {{fase.id}}</a>
		</center>
	</div>
</div>
<div class="modal hide fade" id="modalItem" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">&times;</a>
		<h3>Item</h3>
	</div>
	<form action="{{url_for('nuevoItem')}}" method="post" name="formItem" id="formItem">
		<fieldset>
			<div class="modal-body">
				<label>Descripcion</label>
				<input type="text" placeholder="Descripcion" name="descItem" id="descItem"></input>
				<label>N&uacute;mero</label>
				<input type="text" placeholder="numero" name="numeroItem" id="nroItem"></input>
				<label>N&uacute;ero por fase</label>
				<input type="text" placeholder="numero por fase" name="numeroItemFase" id="nroItemFase"></input>
				<label>Versi&oacute;n</label>
				<input type="text" placeholder="version" name="version" id="version"></input>
				<label>Complejidad</label>
				<input type="text" placeholder="complejidad" name="complejidad" id="complejidad"></input>
				<label>Prioridad</label>
				<input type="text" placeholder="prioridad" name="prioridad" id="prioridad"></input>
				<label>Estado</label>
				<input type="text" placeholder="estado" name="estado" id="estado"></input>
				<label>Observaciones</label>
				<input type="text" placeholder="observaciones" name="obs" id="obs"></input>
			</div>
			<div class="modal-footer">
				
			</div>
		</fieldset>
	</form>
</div>

{% endblock %}