{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
	function ocultarModal() {
		$("#modalCF").hide();
		$("#formulario-carga")[0].reset();
	}
	
	function modificar(id, nombre, descripcion, fecha_de_creacion, complejidad_total, estado){
		/*función para modificar los datos del proyecto**/
		$("#formulario-carga").attr('action','{{ url_for('modificarProyecto') }}');
		$("#formulario-carga").append('<input type="hidden" value='+id+' name="idProy">');
		/*Se rellenan los campos**/
		$("#idProy").val(id);
		$("#nomProy").val(nombre);
		$("#descripcion").val(descripcion);
		$("#fecha_de_creacion").val(fecha_de_creacion);
		$("#complejidad").val(complejidad_total);
		$("#estado").val(estado);
	}
	
	function eliminar(id){
		/*Eliminar fase**/
		$("#botonesEF").empty().append("<a href=\"{{ url_for('eliminarProy') }}" + id + "\" class=\"btn btn-danger\">Si</a>"
				+"<a data-dismiss=\"modal\" class=\"btn btn-secondary\">No</a>");
		$("#modalEF").modal("show")
	}
	
	function mostrarModal(){
		$('#modalCF').modal('show');
	}
</script>
<!-- Bloque donde se define la lista de fases -->
<h3>Proyecto: {{nomProy}}</h3>
<h1 align="center">Administrar fases</h1>
<div class="row">
	<div class="span8">
		<h2>Listado</h2>
		<table class="table table-striped">
			<tr>
				<th>Id</th>
				<th>Nombre de la Fase</th>
	            <th>Posicion de la fase</th>
	            <th>Fecha de creacion </th>
	            <th>Descripcion</th>
	            <th>cantidadItems</th>
	            <th>cantidadLB</th>
	            <th>estado</th>
	        </tr>
			{% for f in fases %}
          	<tr>
	            <td>{{f.id}}</td>
	            <td>{{f.nombre}}</td>
	            <td>{{f.posicion}}</td>
	            <td>{{f.descripcion}}</td>
	            <td>{{f.cantidadItems}}</td>
	            <td>{{f.cantidadLB}}</td>
	            <td>{{f.estado}}</td>
	            <td><a class="btn btn-danger" data-toggle="modal" onclick="eliminar('{{ f.id }}')" >Eliminar</a></td>
	            <td><a class="btn" data-toggle="modal" onclick="modificar('{{ f.id }}')" >Modificar</a></td>
	            <td><a class="btn btn-info" href = "">Configurar Fase</a></td>
          	</tr>
          {% else %}
          	<tr>
          		<td>NO HAY REGISTROS</td>
          	</tr>
          {% endfor %}
		</table>
	</div>
</div>

<p align="center">
	<a class="btn btn-success btn-large" data-toggle="modal" onclick="$('#formulario-carga')[0].reset();$('#formulario-carga').attr('action','{{ url_for('crearProyecto') }}');mostrarModal();"> Agregar Nuevo Proyecto</a>
</p> 


{% endblock %}