<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Iniciar Sesion</h1>
<form action="" method="post" name="login">
    <p>
    {{form.hidden_tag()}}
    {% if err %}
	<div>{{error}}</div>
	{% endif %}
	</p>
    <p>
        Nombre de usuario:<br>
        {{form.nomUsr(size=20)}}<br>
        {% for error in form.errors.nomUsr %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>
        Contraseña:<br>
        {{form.passWord(size=20)}}<br>
        {% for error in form.errors.passWord %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
      <p><a class="btn btn-sucess" onclick="submit();" >Iniciar Sesi&oacute;n</a></p>
</form>
{% endblock %}