<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Iniciar Sesion</h1>
{% if err %}
	<div>{{error}}</div>
{% endif %}
<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    <p>
        Nombre de usuario:<br>
        {{form.nomUsr(size=20)}}<br>
        {% for error in form.errors.nomUsr %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>
        Contraseña:<br>
        {{form.passWord(size=20)}}<br>
        {% for error in form.errors.passWord %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
      <p><input type="submit" value="Iniciar sesion"></p>
</form>
{% endblock %}