{% extends "base2.html" %}
{% block content %}
<div id="Layer4"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('eliminar','','static/elim-rol-2.jpg',1)"><img src="static/elim-rol-1.jpg" alt="eliminar rol" name="eliminar" width="225" height="55" border="0" id="eliminar" /></a></div>
<div id="Layer3"><a href="/rol_listar" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('listar','','static/listar-rol-2.jpg',1)"><img src="static/listar-rol-1.jpg" alt="listar rol" name="listar" width="225" height="55" border="0" id="listar" /></a></div>
<div id="Layer2"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('modificar','','static/mod-rol-2.jpg',1)"><img src="static/mod-rol-1.jpg" alt="modificar rol" name="modificar" width="225" height="55" border="0" id="modificar" /></a></div>
<div id="Layer1"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('crear','','static/crear-rol-2.jpg',1)"><img src="static/crear-rol-1.jpg" alt="crear rol" name="crear" width="225" height="55" border="0" id="crear" /></a></div>
{% endblock %}
